{{#or summary description externalDocs}}
/**
{{#if summary}}
 * {{#indent ' * '}}{{{summary}}}{{/indent}}
{{/if}}
{{#if description}}
 * {{#indent ' * '}}{{{description}}}{{/indent}}
{{/if}}
{{#if externalDocs}}
 * <p>External documentation: {{{externalDocs.url}}}</p>
{{#if externalDocs.description}}
 * {{#indent ' * '}}{{{externalDocs.description}}}{{/indent}}
{{/if}}
{{/if}}
 */
{{/or}}
